/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #020617;
  color: white;
}

/* FOND ANIMÉ */
body::before {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: repeating-linear-gradient(
    300deg,
    rgba(0, 170, 255, 0.15) 0px,
    rgba(0, 170, 255, 0.15) 3px,
    transparent 3px,
    transparent 50px
  );
  animation: moveLines 30s linear infinite;
  z-index: -1;
  opacity: 0.35;
}

@keyframes moveLines {
  from { transform: translateY(0); }
  to { transform: translateY(300px); }
}

/* HEADER */
.header {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,30,0.55);
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.logo span { color: #00c8ff; }

.nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 5px;
  transition: 0.3s;
}

.nav a:hover,
.nav a.active {
  background: #00c8ff;
  color: black;
}

/* SECTION */
.section {
  width: 80%;
  margin: 80px auto 20px auto;
  text-align: center;
  background: rgba(0, 0, 40, 0.45);
  padding: 40px;
  border-radius: 12px;
  backdrop-filter: blur(3px);
}

.section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #00c8ff;
}

/* COMPÉTENCES BARS */
.skills {
  width: 70%;
  margin: auto;
}

.skill-box {
  margin-bottom: 30px;
  text-align: left;
}

.skill-box h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.bar {
  width: 100%;
  height: 10px;
  background: #1b2a44;
  border-radius: 10px;
}

.fill {
  height: 10px;
  background: #00c8ff;
  display: block;
  border-radius: 10px;
  animation: fillBars 2s ease-out;
}

.html { width: 50%; }
.css  { width: 40%; }

.box {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-bottom: 30px;
}

.box p strong {
  color: #00c8ff;
}

@keyframes fillBars {
  from { width: 0; }
  to { width: 45%; }
}
.nav2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}


/* FOOTER */
.footer {
  padding: 20px;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 20px;
}